<!-- This partial renders a form for the RealEstate model -->
<div class="container bg-stone-200 rounded-lg overflow-hidden mb-6">
  <div class="img-container px-6 py-6">
    <%= image_tag("longleaf_lending_logo.png", :alt => "Longleaf Leanding Logo", class: "h-[3.5rem] w-auto") %>
  </div>
  <div class="container mx-auto flex justify-center items-center w-[65%] h-[65vh] pb-12">
    <%= form_with(model: real_estate, class: "contents") do |form| %> <!-- The 'real_estate' local variable is used as the form object -->
      <div class="w-full">
        <%= render partial: 'real_estates/error_explanation', locals: { real_estate: @real_estate } %>
      
        <div data-controller="form-navigation" class="w-full">
          <%= render partial: 'real_estates/address',locals: { form: form } %>
          <%= render partial: 'real_estates/loan_term',locals: { form: form } %>
          <%= render partial: 'real_estates/purchase_price',locals: { form: form } %>
          <%= render partial: 'real_estates/repair_budget',locals: { form: form } %>
          <%= render partial: 'real_estates/arv',locals: { form: form } %>
          <%= render partial: 'real_estates/personal_information',locals: { form: form } %>
        </div>
      </div>
    <% end %>
  </div>
</div>