<div id="<%= dom_id real_estate %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= real_estate.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Loan term:</strong>
    <%= real_estate.loan_term %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Purchase price:</strong>
    <%= real_estate.purchase_price %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Repair budget:</strong>
    <%= real_estate.repair_budget %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Arv:</strong>
    <%= real_estate.arv %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">First name:</strong>
    <%= real_estate.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= real_estate.last_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone number:</strong>
    <%= real_estate.phone_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= real_estate.email %>
  </p>

</div>
